* {
    margin: 0;
    padding: 0;
    font-family: Rubik Doodle Shadow;
    box-sizing: border-box;
}
body {
    background:#e6b140;
}


.title {
    background-color: #009cb8;
    width: 100vw;  
    text-align: center; 
}
.container, .play-board, .result-box {
    /* background: rgba(112, 112, 195, 0.596); */
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}
.container {
    padding: 20px 25px 25px;
    border: solid lightyellow 5px;
    border-radius: 15px;
    max-width: 330px;
    width: 100%;
    }
.container.hide {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}
.container header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.container .title2{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0;
    background-color: rgba(195, 185, 185, 0.274);
}
.container .choices{
    display: flex;
    width: 100%;
}
.choices button {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border: 5px solid black;
    color: blue;
    background-color: pink;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.35s ease;
}
.choices button:hover, .result-box .btn button:hover {
    transform: scale(0.95);
}
.choices button.playerX {
    margin-right: 5px;
}
.choices button.playerO {
    margin-left: 5px;
}

/* playboard area */
.play-board {
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -50%) scale(0.9);
    }
.play-board.show {
        opacity: 1;
        pointer-events: auto;
        transform: translate(-50%, -50%) scale(1);
}    
.play-board .details {
    background: rgba(0, 0, 0, 0.432);
    padding: 7px;
    border-radius: 10px;
}
.play-board .details .players{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}
.details .players:first-child{
color: purple;
}
.play-board .details span {
    width: 100%;
    border-radius: 5px;
    padding: 7px 0;
    font-size: 18px;
    font-weight: 400;
    cursor: default;
    text-align: center;
    background: rgba(247, 3, 3, 0.557); /* this changes the color of the "O's box" */
    position: relative;
    z-index: 5;
    transition: all 0.3s ease;
}

.play-board section{
    display: flex;
}
.players.active span:first-child {
color: black;
}
.players.active span:nth-child(2) {
color: rgb(255, 255, 255);
}
.players.active .slider {
left: 50%;
}

.play-board .play-area{
    margin-top: 20px;
}
.play-board section span { 
    margin: 2px;
    display: block;
    height: 80px;
    width: 80px;
    background: rgba(35, 182, 106, 0.753); /*this is where you change the color for the box's*/
    border-radius: 8px;
    font-size: 40px;
    text-align: center;
    color: blue;
}
.details .slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: lightblue;
    border-radius: 7px;
    z-index: 2;
    transition: all 0.3s ease;
}
.result-box {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    max-width: 350px;
    width: 100%;
    display: none;
}
.result-box .won-text {
    font-size: 25px;
    font-weight: 500;
    display: flex;
}
.result-box .won-text p{
    font-weight: 800;
    margin: 0 5px;
}
.result-box .btn {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.result-box .btn button {
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    border: 5px solid black;
    color: blue;
    background-color: pink;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.35s ease;
}